/* Página de Transición */

#transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Cubre todo el ancho de la pantalla */
    height: 100%; /* Cubre toda la altura de la pantalla */
    background-color: #000; /* Fondo completamente negro */
    display: flex; /* Usamos flexbox para centrar el GIF */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 9999; /* Asegura que esté encima de todo */
    padding: 0;
    margin: 0;
    flex-direction: column; /* Alinea el contenido en columna (GIF y texto) */
    text-align: center; /* Centra el texto debajo del GIF */
}

#transition-gif {
    width: 670px; /* Ajusta el tamaño del gif a 670px de ancho */
    height: auto; /* Mantiene las proporciones del gif */
    object-fit: contain; /* Asegura que el gif se ajuste sin distorsión */
    border: none; /* Elimina cualquier borde alrededor del gif */
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
    background-color: #000; /* Fondo negro para asegurarse de que el borde sea cubierto */
    clip-path: inset(5px); /* Recorta un margen de 5px de todos los bordes del GIF */
}

#transition-text {
    font-family: Helvetica, sans-serif; /* Fuente Helvetica */
    color: #fff; /* Texto blanco */
    font-weight: bold; /* Texto en negrita */
    padding: 15px; /* Un poco de espacio alrededor del texto */
    margin-top: 75px; /* Aumentamos el margen superior a 60px*/
    font-size: 18px; /* Tamaño de fuente cómodo */
    line-height: 1.5; /* Espacio entre líneas para mejor legibilidad */
    max-width: 80%; /* Limitar el ancho del texto para que no ocupe toda la pantalla */
    margin-left: auto;
    margin-right: auto; /* Centrado del texto */
    border-radius: 5px; /* Bordes redondeados para el cuadro de texto */
    background-color: transparent; /* Fondo transparente */
}

#redirect-button {
    background-color: #444; /* Fondo gris oscuro */
    color: white; /* Texto blanco */
    padding: 15px 30px; /* Espaciado dentro del botón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    border: none; /* Elimina bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a mano */
    margin-top: 20px; /* Espacio entre el texto y el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

#redirect-button:hover {
    background-color: #333; /* Color de fondo cuando pasa el ratón por encima */
}

#redirect-button:focus {
    outline: none; /* Elimina el contorno al hacer clic */
}